/* @import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"); */

body,
html {
  background-color: #5d3fd3;
  font-family: "M PLUS 1", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "M PLUS 1", sans-serif;
}

header {
  background-color: #daf7a6;
  text-align: center;
}

.card {
  width: 40%;
  margin: 0 auto;
  background-color: whitesmoke;
  position: relative;
  border-radius: 10px;
  margin-top: 2rem;
}

.feedback {
  margin-top: 5rem;
}

.num-display {
  position: absolute;
  left: -12px;
  top: -12px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 1.1rem;
  margin: -0.2rem;
}

.num-display span {
  position: absolute;
  font-weight: bold;
}

.text-display {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20px;
  max-width: 92%;
  margin: 0 auto;
  padding: 0 0 1rem 0;
}

.reverse {
  color: whitesmoke;
  background-color: #575757;
}

.fa {
  position: absolute;
  right: 7px;
  top: 5px;
  font-size: 18px;
  cursor: pointer;
}
